*Observação: os dados foram coletados da página da Wikipedia e podem mudar no futuro. Portanto, os dados podem variar!*

In [ ]:
!git clone https://github.com/ByjusBrazil/PRO_1-1_C129_StarsDatasetCSVs

Cloning into 'PRO-Stars-Dataset-CSVs'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 21 (delta 7), reused 13 (delta 5), pack-reused 0
Unpacking objects: 100% (21/21), done.

In [ ]:
import pandas as pd

df = pd.read_csv("/content/PRO_1-1_C129_StarsDatasetCSVs/dwarf_stars.csv")
df.head(10)

   id                      Star_name  Distance Mass  Radius
0   0  SDSS J000013.54+255418.6 [de]      46.1   48    0.99
1   1        2MASS J00040288-6410358     192.0   19    1.63
2   2                      LHS 102BC       NaN  NaN     NaN
3   3        2MASS J00242463-0158201      37.7   79    1.09
4   4      2MASS J00250365+4759191AB     143.0  NaN     NaN
5   5        2MASS J00274197+0503417     236.0   31    1.44
6   6        2MASS J00275592+2219328      46.9  NaN     NaN
7   7         2MASSW J0030300-145033      87.2   54    0.98
8   8   2MASS J00332386-1521309 [de]     131.0   29    1.43
9   9        2MASS J00345157+0523050      31.0   42    0.94

In [ ]:
df.shape

(352, 5)

## REMOVA colunas desnecessárias se houver. Remova colunas com NAN.

In [ ]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 0 to 284
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         158 non-null    int64
 1   Star_name  158 non-null    object
 2   Distance   158 non-null    float64
 3   Mass       158 non-null    object
 4   Radius     158 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 7.4+ KB

In [ ]:
df.shape

(158, 5)

## Remova TODOS os caracteres especiais e converta para o tipo correto

Observe os **dados das estrelas anãs** e remova todos os caracteres especiais.

Alguns dos exemplos destacados abaixo:

*Observação: os dados foram coletados da página da Wikipedia e podem mudar no futuro. Portanto, os dados podem variar!*

*Isso pode levar a diferenças nas etapas de processamento de dados também!*

<img src="https://s3-whjr-curriculum-uploads.whjr.online/595398f0-5d0b-475f-ab37-462599e70b4f.png" width=600>

In [ ]:
df.Mass = df.Mass.str.replace('[^a-zA-Z0-9]', '').astype('float')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

## Atualize as unidades de raio e massa

In [ ]:
df["Radius"] = df["Radius"]*(0.102763)

In [ ]:
df["Mass"] = df["Mass"]*(0.000954588)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 158 entries, 0 to 284
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         158 non-null    int64
 1   Star_name  158 non-null    object
 2   Distance   158 non-null    float64
 3   Mass       158 non-null    float64
 4   Radius     158 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 7.4+ KB

## Converta para CSV

In [ ]:
df.to_csv("unit_converted_stars.csv")
df.dtypes

id             int64
Star_name     object
Distance     float64
Mass         float64
Radius       float64
dtype: object

## Baixe o CSV

In [ ]:
# from google.colab import files
# files.download("unit_converted_stars.csv")

# MESCLE

In [ ]:
import csv
import pandas as pd

file1 = '/content/PRO_1-1_C129_StarsDatasetCSVs/bright_stars.csv'
file2 = '/content/PRO_1-1_C129_StarsDatasetCSVs/unit_converted_stars.csv'

d1 = []
d2 = []
with open(file1,'r',encoding='utf8') as f:
    csv_reader =csv.reader(f)
    
    for i in csv_reader:
        d1.append(i)
        
with open(file2,'r',encoding='utf8') as f:
    csv_reader = csv.reader(f)
    
    for i in csv_reader:
        d2.append(i)

h1 = d1[0]
h2 = d2[0]

p_d1 = d1[1:]
p_d2 = d2[1:]

h = h1+h2

p_d =[]

for i in p_d1:
    p_d.append(i)
for j in p_d2:
    p_d.append(j)

In [ ]:
with open("total_stars.csv",'w',encoding='utf8') as f:
    csvwriter = csv.writer(f)
    csvwriter.writerow(h)   
    csvwriter.writerows(p_d)
    
df = pd.read_csv('total_stars.csv')
df.tail(8)

,id,Star_name,Distance,Mass,Radius,Luminosity,Unnamed: 6,Star_name.1,Distance.1,Mass.1,Radius.1
247,150,2MASS J23224684-3133231,56.0,0.022910112,0.14284056999999997,NaN,NaN,NaN,NaN,NaN,NaN
248,151,2MASS J23225299-6151275,148.0,0.016227996,0.16339317,NaN,NaN,NaN,NaN,NaN,NaN
249,152,2MASS J23515044-2537367,67.0,0.084003744,0.11920507999999998,NaN,NaN,NaN,NaN,NaN,NaN
250,153,2MASSI J2356547-155310,74.0,0.07636704,0.11201167000000001,NaN,NaN,NaN,NaN,NaN,NaN
251,154,WISE 0410+1502,20.0,0.005727528,0.12023270999999998,NaN,NaN,NaN,NaN,NaN,NaN
252,155,WISE 0458+6434A,35.9,0.014318820000000001,0.4316046,NaN,NaN,NaN,NaN,NaN,NaN
253,156,WISE 0458+6434B,35.9,0.00954588,0.39049939999999994,NaN,NaN,NaN,NaN,NaN,NaN
254,157,WISE 1405+5534,25.3,0.028637640000000002,0.08837618,NaN,NaN,NaN,NaN,NaN,NaN